@font-face {
    font-family: 'Proxima Regular';
    src: url("../fonts/proximanova_regular.ttf");
}

@font-face {
    font-family: 'Proxima Light';
    src: url("../fonts/proximanova_light.ttf");
}

@font-face {
    font-family: 'Proxima Bold';
    src: url("../fonts/proximanova_bold.otf");
}

@font-face {
    font-family: 'ElMessiri Bold';
    src: url("../fonts/ElMessiri-Bold.ttf");
}